---
import { getCollection } from "astro:content";

import Link from "@/components/Link.vue";
import CdnImage from "@/components/CdnImage.astro";
import Image from "astro/components/Image.astro";
import Background1 from "@/assets/images/background1.jpeg";
import Bio from "@/data/bio.md";

import { Instagram } from "lucide-astro";
import { instagram } from "@/data/data.json";
import { Button } from "@/components/ui/button";

import ClImage from "@/components/ClImage.vue";
import ImageGrid from "@/components/ImageGrid.astro";

import { dates } from "@/data/liveDates.json";
import LiveDate from "@/components/LiveDate.vue";

import soundcloudData from "@/data/soundcloud.json";
import SoundcloudEmbed from "@/components/SoundcloudEmbed.astro";
import youtubeData from "@/data/videos.json";
import YTEmbed from "@/components/YTEmbed.astro";

import ContactWrapper from "@/components/Contact.vue";

import Header from "@/components/Header.astro";
import Toaster from '@/components/ui/toast/Toaster.vue'

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");
const { Content, headings } = await allBlogPosts[0].render();
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="" class="font-serif m-auto">
  <Header />

  <section id="quartet" class="bg-background1 bg-cover py-12 px-6 md:px-12">
    <div class="font-serif max-w-prose text-center md:px-12 m-auto">
      <Bio />
    </div>
  </section>
  <section class="bg-background2 bg-cover p-4 md:p-12 py-12" id="termine">
    <h2 class="my-6 md:mx-6 border-black">Termine</h2>
    <ul class="max-w-md lg:my-16 m-auto">
      {dates.map((d) => <LiveDate data={d} />)}
    </ul>
  </section>

  <!-- <ClImage -->
  <!--   class="w-full h-full object-[center_-100px] object-cover" -->
  <!--   id="Alou/qffr9tdkrgjdlrkh63xx" -->
  <!-- /> -->

  <section
    id="media"
    class="bg-background7 bg-cover p-4 md:p-12 py-12"
    id="termine"
  >
    <h2 class="text-white">Media</h2>
    <div
      class="flex flex-wrap w-full max-w-xl lg:max-w-[unset] justify-center my-12 mx-auto"
    >
      {
        youtubeData.videos.map((v) => (
          <YTEmbed
            url={v.link}
            class="basis-full lg:basis-1/2 p-4 aspect-video"
          />
        ))
      }
    </div>

    <div class="mt-16 mb-8 max-w-screen-lg m-auto">
      {
        soundcloudData.soundcloud.map((s) => (
          <SoundcloudEmbed data={s} class="text-white m-8" />
        ))
      }
    </div>
  </section>
  <section id="media" class="bg-background1 bg-cover p-4 md:p-12 py-12">
    <ImageGrid />
  </section>
  <Toaster />
</BaseLayout>
