---
import { Button } from "@/components/ui/button";
import ContactWrapper from "@/components/Contact.vue";

import Link from "@/components/Link.vue";

import Socials from "@/components/Socials.vue";
import { presse } from "@/data/data.json"

const isRoot = Astro.url.pathname === "/";
---

<footer class="py-8 border-gray-400 border-t-[1px]">
  <div class="m-auto w-full max-w-xl flex justify-around items-center">
    <Link href={isRoot ? "/impressum" : "/"} variant="link">
      {isRoot ? "Impressum" : "Home"}
    </Link>
    <Link variant="link" href={presse}>Presse</Link>
    <div class="hidden md:flex justify-around">
      <Socials />
    </div>
    <ContactWrapper client:load>
      <!-- Standard Link Styling -->
      <Button class="underline hover:text-accent" variant="link">
        Kontakt
      </Button>
    </ContactWrapper>
  </div>

  <div class="flex md:hidden justify-center gap-4 mt-4">
    <Socials />
  </div>
</footer>
