---
import "@/styles/globals.css";
import type { HTMLAttributes } from "astro/types";
import Footer from "@/components/Footer.astro";

interface Props extends HTMLAttributes<"body"> {
  title?: string;
}

const { title: titleOrEmpty, ...attr } = Astro.props;

const title =
  titleOrEmpty == undefined || titleOrEmpty === ""
    ? "Placeholder"
    : titleOrEmpty;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title></head
  >

  <body  class="min-h-screen flex flex-col justify-between"{...attr}>
    <slot>
      <h1>Empty Template</h1>
    </slot>

    <Footer />
  </body>
</html>
